/* Etiquetas generales*/
.column {
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
}

button{
    background-color: #8B48BF;
    border-radius: 50px;
    color: white;
    height: 44px;
    border: none;
    width: 134px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Encabezado -----------------------------------------------------------------------------------*/
header {
    display: flex;
    justify-content: space-around;
    padding: 5vh;
}

header nav ul {
    display: flex;
    list-style: none;

}

header nav ul li {
    padding: 0px 28px;
    font-weight: 500;
    font-size: 13px;
}

li a {
    text-decoration: none;
    color: #242E52;
}

header button:hover {
    opacity: 80%
}

.menu-hamburguesa {
    display: none;
}
/*Cuerpo------------------------------------------------------------------------------------------*/

main {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}

.principal {
    width: 39%;
    display: flex;
    justify-content: flex-start;

}


h1 {
    font-size: 58px;
    width: 80%;
    margin: 0%;
    padding: 5% 0%;
}

.principal p {
    font-size: 16.55px;
    width: 47%;
    margin: 0px;
    padding-bottom: 5%;
}

main button:hover {
    opacity: 80%
}

.graphic-mobile{
    display: none;
}
/*----------------------------------------------------------------------------------------------*/

.segundo {
    display: flex;
    justify-content: space-around;
}

.segundo article {
    width: 36.5%;
    padding-top: 10% ;
}

.segundo h2 {
    width: 80%;
    font-size: 36px;
    font-weight: 700;
    color: #232851;
    padding-left: 80px;
}

.segundo h3 {
    font-size: 16px;
    color: #323851;
} 

.h3-01::before {
    content: "01";
    background-color: #8B48BF;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 20px;
}

.h3-02::before {
    content: "02";
    background-color: #8B48BF;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 20px;
}

.h3-03::before {
    content: "03";
    background-color: #8B48BF;
    color: white;
    border-radius: 20px;
    padding: 10px 25px;
    margin-right: 20px;
}

#izquierda-p {
    font-size: 16px;
    width: 63%;
    color: #000000;
    padding-left: 80px;
}

.segundo p {
    font-size: 16.2984px;
    width: 80%;
    color: #B3B2B7;
    padding-left: 90px;
    text-align:left;
}



/*----------------------------------------------------------------------------------------------*/

.tercero{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0%;
}

.tercero h2 {
    font-size: 39.2143px;
    color: #242E53;
    font-weight: 700;
}

.tercero div {
    display: flex;
    width: 100%;
    height: 90%;
    justify-content: center;
}

.tercero p {
    text-align: center;
    color: #B9B9C1;
    font-size: 16px;
    width: 70%;
}

.tercero h3 {
    text-align: center;
    color: #3F4868;
    font-size: 16.0714px;
    font-weight: 700;
}

.tercero img{
    width: 70px;
    height: 70px;
}

.card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0% 3% 0%;
    background-color: #FAFAFA;
    padding-bottom: 10px;
}

.card img{
    position: relative;
    bottom: 40px;
    width: 100px;
    height: 100px;
    border-radius: 1000px;
}

.tercero button:hover {
    opacity: 80%
}
/*----------------------------------------------------------------------------------------------*/

.cuarto {
    background-color: #8B48BF ;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
    margin-top: 15vh ;
}

.cuarto h2 {
    font-size: 40px;
    color: white;
    width: 30%;
}

#reversebutton {
    background-color: white;
    border-radius: 50px;
    color: #8B48BF;
    height: 44px;
    border: none;
    width: 134px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

#reversebutton:hover {
    opacity: 80%
}
/* Pie de página---------------------------------------------------------------------------------*/

footer {
    background-color: #1E1E26;
    color: white;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    align-items: center;
}

footer ul {
    list-style: none;
}

footer ul li{
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0px;
}

.footer-li{
    margin-bottom: 50px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer section input {
    border-radius: 50px;
    height: 44px;
    width: 244px;
    font-size: 13.1806px;
}

footer section button {
    border-radius: 50px;
    height: 44px;
    width:  63px ;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.logos {
    height: 60%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.redes img {
    padding: 0 3px;
}

 .inbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    padding-top: 40px;
}

footer p{
    font-size: 12.5px;
    font-weight: 500;
    color: #8C8C94;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.copyright-mobile {
    display: none;
    font-size: 12.5px;
    font-weight: 500;
    color: #8C8C94;
}


/*-------------MOBILE------------------------------------*/

@media (max-width: 480px) {
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    header {
        width: 100vw;
        justify-content: space-between;
    }

    header nav {
        display: none;
    }
    header button {
        display: none;
    }

    .menu-hamburguesa{
        display:flex

    }

    /*--------------------------------------------------*/
    main {
        flex-direction: column-reverse;
        display: flex;
    }

    .principal{
        justify-content: center;
        display: flex;
        width: 100%;
    }

    .principal h1 {
        justify-content: center;
        width: 50%;
        height: 40%;
    }

    .principal p {
        justify-content: center;
        width: 90%;
    }

    
    .derecha {
        display: none;
    }

    .graphic-mobile{
        display: flex;
    }

    /*----------------------------------------------------*/
    .segundo{
        flex-direction: column;
        width: 100%;
        margin: 20% 0%;
        justify-content: space-between;

    }

    .segundo article {
        width: 100%;
        justify-content: center;
    }

    #izquierda-p{
        width: 84%;
        margin-top: 20px;
        text-align: center
    }
    .segundo h2{
        width: 84%;
        justify-content: center;
        text-align: center;
        
    }

    .segundo h3 {
        background: #8B48BF4D;
        width: 100%;
        height: 40px;
        padding: 2% 0 2% 10%;
        margin: 5% 0;
    }

    .segundo p{
        width: 95%;
        padding: 0 0 0 10%;
    }

    /*----------------------------------------------------*/

    .tercero {
        margin-top: 30%;
    }

    .card1, .card3{
        display: none;
    }

    .card2 {
        width: 90%;
        padding-bottom: 5%;
        margin: 30% 0 10% 0;
    }

    /*----------------------------------------------------*/

    .cuarto {
        flex-direction: column;
        padding-bottom: 5%;
    }

    .cuarto h2 {
        width: 70%;
        text-align: center;
    }

    /*----------------------------------------------------*/
    footer {
        flex-direction: column-reverse;
        padding: 55% 0;
    }

    .copyright {
        display: none;
    }

    .flex {
        width: 70%;
        padding-bottom: 15%;
        justify-content: space-between;
    }

    .inbox{
        margin-bottom: 15%;
    }

    .logos {
        flex-direction: column-reverse;
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .logo-footer {
        justify-content: center;
        display: flex;
        padding-top: 10%;
    }

    .logo-footer img {
        width: 120.34px;
        height: 23.74px;
        justify-content: center;
    }

    .redes {
        justify-content: center;
        display: flex;
    }

    .redes img{
        padding: 0 7.5%;
        justify-content: center;
    }

    .copyright-mobile{
        display: flex;
        padding: 10%;
        margin-top: 10%;
    }
}
